body {
    max-width: 1230px;
    font-family: 'Ibarra Real Nova', serif;
}

.cabecalho {
    border-bottom: 2px solid hsl(240, 18%, 87%);
    display: flex;
    justify-content: space-around;
}

main {
    display: flex;
}

.navegacao {
    justify-content: space-around;
    display: flex;
}

h1 {
    font-size: 27px;
    margin-right: 36%;
}

#ulNavegacao {
    list-style: none;
    display: flex;
    margin-right: 7%;
}

#todos {
    color: #686363;
    font: bold;
}

.liNavegacao {
    padding: 4%;
}

.liNavegacao:hover {
    text-decoration: underline;
    cursor: pointer;
}

.listaDeProdutos {
    max-width: 815px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.produtos {
    width: 32%;
    list-style: none;
    align-items: flex-start;
    margin-top: 2%;
    justify-items: center;
    display: flex;
    flex-direction: column;
}

.produtos:hover {
    cursor: pointer;
    background-color: darkslategrey;
    color: #f7f7f7;
}

img {
    background-color: silver;
    width: 100%;
    margin-top: 0%;
}

h2 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 21px;
    vertical-align: baseline;
}

.tipoProduto {
    background-color: black;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 40%;
    color: white;
}

.descricaoProduto {
    width: 95%;
    display: flex;
    justify-content: left;
    text-align: justify;
}

.preco {
    width: 25%;
    justify-content: center;
    display: flex;
}

.tipoProduto,
.preco {
    font-weight: bold;
}

.comprar {
    font-family: 'Ibarra Real Nova', serif;
    background-color: transparent;
    display: -webkit-box;
    margin-top: 1%;
    border: none;
    font-weight: bold;
}

.comprar:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #f7f7f7;
}

aside {
    height: 11px;
    width: 290px;
    position: absolute;
    top: 103px;
    right: 110px;
}

form {
    display: flex;
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    color: #f7f7f7;
    height: 66px;
    margin-bottom: 0%;
    font-size: 150%;
    margin-top: 1%;
}

.quantidadeTotal {
    background-color: black;
    color: white;
}

.quantidade {
    padding: 6%;
    margin-top: 0px
}

.total {
    padding: 6%;
}

.quantidadeDePordutos {
    margin-left: 50%;
}

.precoTotal {
    margin-left: 60%;
}

.comprasFeitas {
    background-color: silver;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 150px;
    overflow-y: auto;
}

.produtosCarrinhos {
    padding: 2%;
    width: 94%;
    height: 34%;
    display: flex;
}

.imgCarrinhos {
    width: 28%;
    height: 40%;
}

h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 7%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.removerProtudo {
    font-family: 'Ibarra Real Nova', serif;
    border: none;
    background-color: transparent;
    margin-top: 7%;
    display: block;
}

.removerProtudo:hover {
    text-decoration: underline;
    cursor: pointer;
}

#produtoDigitado {
    width: 70%;
    height: 32px;
}

.pesquisarProduto {
    font-family: 'Ibarra Real Nova', serif;
    width: 30%;
    height: 38px;
    background-color: darkslategrey;
    color: #f7f7f7;
}
